{% extends 'main.html' %} {%load static%}
{% block content %}


<style>

.ad{
    border: 5px dashed yellow;
    padding:20px;
}
.location{
    border: 5px dashed yellow;
    padding:20px;
}
</style>


    
<!--LOCATION-->

<div class="row d-flex col-12 justify-content-center m-0" dir="rtl">
    <div class="title col-12 text-center">
        <h1>تماس با ما در تهران</h1>
    </div>
</div>
<div class="locad row d-flex justify-content-center m-0">

    <div class="ad col-lg-3 col-md-3 col-12 m-0" dir="rtl">
        <h4>
            آدرس:
        </h4>
        <h6>
            تهران، سعادت آباد،‌میدان فرهنگ
            کوچه ی آبشار،
            پلاک ۳، طبقه ی ۵، واحد ۱۸
        </h6>
        <br>
        <h4>
            تلفن:
        </h4>
        <h6>
            ۰۰۹۸۲۱۲۶۷۴۵۱۹۵
            <br>
            ۰۰۹۸۲۱۲۶۷۴۵۱۹۵
        </h6>
        <br>
        <h4>
            فکس:
        </h4>
        <h6>
            ۰۰۹۸۲۱۲۶۷۴۵۱۹۵
            <br>
            ۰۰۹۸۲۱۲۶۷۴۵۱۹۵
        </h6>
        <br>
        <h4>
            ایمیل:
        </h4>
        <h6>
            info@icondor.ir
            <br>
            sales@icondor.ir
        </h6>
    </div>
    <div class="location col-lg-8 col-md-8 col-12 d-flex justify-content-center m-0">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d790.6595669532875!2d51.386129729286175!3d35.782056176361685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e07b71518944f%3A0x6744f28a646c1c6d!2sCondor%20Iran!5e0!3m2!1sfa!2s!4v1669134861662!5m2!1sfa!2s" 
        width="600" height="450" style="border:0;" 
        allowfullscreen="" loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div> 

</div>
    


<div class="spacer"></div>
<!--GLOBAL TEAM-->


<div class="container global">
    <div class="row teams col-12 justify-content-center m-0">
    <div class="title col-12 text-center">
        <h1>خانواده ی جهانی کندر</h1>
    </div>

    <div
        class="card border-warning mb-3 col-lg-4 col-md-4 col-sm-12 p-0 m-2"
        style="max-width: 18rem"
    >
        <div class="card-header">کندر سالزبورگ</div>
        <div class="card-body text-warning">
        <h5 class="card-title">اتریش؛سالزبورگ</h5>
        <hr />
        <p class="card-text">
            سامرگاس 27 5020 سالزبورگ، اتریش تلفن: +43 662 88984 0 فکس: +43 662
            88984 66 ایمیل: office@condor.co.at
        </p>
        </div>
    </div>

    <div
        class="card border-warning mb-3 col-lg-4 col-md-4 col-sm-12 p-0 m-2"
        style="max-width: 18rem"
    >
        <div class="card-header">کندر مسکو</div>
        <div class="card-body text-warning">
        <h5 class="card-title">روسیه؛موسکو</h5>
        <hr />
        <p class="card-text">
            خیابان چهارم، 27 115088 مسکو، روسیه تلفن: +7 495 644 28 78 فکس: +7 495
            644 28 781 ایمیل: moskau@kondor.so.at
        </p>
        </div>
    </div>

    <div
        class="card border-warning mb-3 col-lg-4 col-md-4 col-sm-12 p-0 m-2"
        style="max-width: 18rem"
    >
        <div class="card-header">کندر نانت</div>
        <div class="card-body text-warning">
        <h5 class="card-title">فرانسه؛نانت</h5>
        <hr />
        <p class="card-text">
            خیابان نهم مشترک بازار
            44300 نانت، فرانسه
            تلفن: +33 2 40 20 93 93
            فکس: +33 2 40 50 54 72
            ایمیل: nantes@condor.fr
        </p>
        </div>
    </div>

    <div
        class="card border-warning mb-3 col-lg-4 col-md-4 col-sm-12 p-0 m-2"
        style="max-width: 18rem"
    >
        <div class="card-header">دفتر اصلی وین، منطقه معاف از گمرک</div>
        <div class="card-body text-warning">
        <h5 class="card-title">اتریش؛وین</h5>
        <hr />
        <p class="card-text">شماره 15/208 خیابان سیتنهافمن
            1020 وین، اتریش
            تلفن: +43 1 7265417-0
            فکس: +43 1 729 17 83
            ایمیل: wien@condor.co.at
        </p>
        </div>
    </div>

    <div
        class="card border-warning mb-3 col-lg-4 col-md-4 col-sm-12 p-0 m-2"
        style="max-width: 18rem"
    >
        <div class="card-header">کندر کازان</div>
        <div class="card-body text-warning">
        <h5 class="card-title">روسیه؛کازان</h5>
        <hr />
        <p class="card-text">تلفن: +7 843 562 36 13
            فکس: +7 843 562 36 14
            ایمیل: kasan@condor.co.at
        </p>
        </div>
    </div>

    <div
        class="card border-warning mb-3 col-lg-4 col-md-4 col-sm-12 p-0 m-2"
        style="max-width: 18rem"
    >
        <div class="card-header">کندر تهران</div>
        <div class="card-body text-warning">
        <h5 class="card-title">ایران؛تهران</h5>
        <hr />
        <p class="card-text">سعادت آباد،‌میدان فرهنگ، کوچه ی آبشار، پلاک ۳، طبقه ی ۵، واحد ۱۸
        </p>
        </div>
    </div>
    </div>
</div>



{% endblock content %}