{% extends 'main.html' %} {%load static%}
{% block content %}


<style>
  video{
    height:50vw;
  }
  .video {
      margin: 0;
      padding: 60px;
      background-color: rgb(254, 206, 9);
    }
</style>

    <!--SUCCESS-->
    <div class="success col-12">
      <div class="title col12 text-center">
        <h3> خبر ها</h3>
      </div>
      <div class="cap col12">
        <!--
            <h6>
          <p>
            انتظار کشیدن سخته. بخصوص وقتی آدم منتظر رسیدن یک چیز مهم، از یک راه
            دور باشه. کندر این موضوع رو خیلی خوب می دونه. به همین دلیل سریع ترین
            هواپیما ها و کشتی ها و خودرو ها رو در اختیار گرفته،‌تا شما منتظر
            نمونین. هر وقت خواستین چیز ارزشمندی رو سریع به مقصد برسونین، می
            تونین روی کندر حساب کنین.
          </p>

        </h6>
        -->
        
      </div>

      <div class="row stories col-12 justify-content-center m-0">
        <div class="card col-sm-12 col-md-2 col-lg-4 m-2" style="width: 18rem">
          <img
            class="card-img-top"
            src="{%static 'wp/images/slider01.jpeg'%}"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">عنوان</h5>
            <p class="card-text">
              قصه ی چند پروژه ی کوتاه که در سال های قبل انجام شدن رو اینجا
              براتون نوشتیم.
            </p>
            <a href="#" class="btn btn-primary">می خونم</a>
          </div>
        </div>

        <div class="card col-sm-12 col-md-2 col-lg-4 m-2" style="width: 18rem">
          <img
            class="card-img-top"
            src="{%static 'wp/images/slider01.jpeg'%}"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">عنوان</h5>
            <p class="card-text">
              قصه ی چند پروژه ی کوتاه که در سال های قبل انجام شدن رو اینجا
              براتون نوشتیم.
            </p>
            <a href="#" class="btn btn-primary">می خونم</a>
          </div>
        </div>

        <div class="card col-sm-12 col-md-2 col-lg-4 m-2" style="width: 18rem">
          <img
            class="card-img-top"
            src="{%static 'wp/images/slider01.jpeg'%}"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">عنوان</h5>
            <p class="card-text">
              قصه ی چند پروژه ی کوتاه که در سال های قبل انجام شدن رو اینجا
              براتون نوشتیم.
            </p>
            <a href="#" class="btn btn-primary">می خونم</a>
          </div>
        </div>



        <div class="card col-sm-12 col-md-2 col-lg-4 m-2" style="width: 18rem">
          <img
            class="card-img-top"
            src="{%static 'wp/images/slider01.jpeg'%}"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">عنوان</h5>
            <p class="card-text">
              قصه ی چند پروژه ی کوتاه که در سال های قبل انجام شدن رو اینجا
              براتون نوشتیم.
            </p>
            <a href="#" class="btn btn-primary">می خونم</a>
          </div>
        </div>
      </div>
    </div>






{% endblock content %}